@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500;600;700;800;900&family=Varela+Round&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap');
/* Genaral Class */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
.manu {
    list-style-type: none;
}
.btn-primary{
    background-color: #E02C6D;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
}
button a {
    color: #FFFFFF;
    text-decoration: none;
}
/* header */
.header {
    padding: 57px 120px 0px;
}
/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}
.manu-list{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    
}
.manu {
    margin-left: 20px;
    /* width: 80px; */
}
.manu > img {
    width: 40%;
}

/* banner-container */
.banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gap1{
    margin-bottom: 20px;
}
.banner-footer{
    /* border: 1px solid #787885; */
    /* box-shadow: 2px 2px 5px #787885; */
    background-color: hsla(240, 5%, 50%, 0.021);
    height: 100px;
    width: 80%;
    margin: 0px auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .header {
        padding: 2% 3% 15%;
    }
    .nav {
        flex-direction: column;
        /* justify-content: flex-start; */
        /* align-items: flex-start; */
    }
    .manu-list{
        padding: 0px;
        width: max-content;
    }
    .banner-container {
        flex-direction: column-reverse;
    }
    .banner-text {
        text-align: center;
    }
    .banner-img1{
        width: 98% !important;
    }
    .banner-footer {
        flex-wrap: wrap;
    }
    .banner-footer {
        /* border: 1px solid #787885; */
        /* box-shadow: 2px 2px 5px #787885; */
        /* background-color: hsla(240, 5%, 50%, 0.021); */
        /* height: 100px; */
        width: 80%;
        margin: 0px auto;
        gap: 20px;
        /* display: flex; */
        /* justify-content: space-between; */
        /* align-items: center; */
    }
}
@media screen and (min-width: 640px) and (max-width: 768px) {   
    main{
        /* background-color: #E02C6D; */
    }
}